RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^account/(.*)$ ./account.php?username=$1
RewriteRule ^profile/(.*)$ ./profile.php?UserID=$1
RewriteRule ^baste$ ./baste.php?BasteID=0
RewriteRule ^baste/(.*)$ ./baste.php?BasteID=$1
RewriteRule ^editbaste/(.*)$ ./editbaste.php?BasteID=$1
RewriteRule ^deletebaste/(.*)$ ./deletebaste.php?BasteID=$1
RewriteRule ^([^\.]+)$ $1.php [NC,L]
RewriteRule ^([^\.]+)$ $1.html [NC,L]